.table> :not(caption)>*>* {
    padding: 0.6rem 0.95rem !important;
}

.Active_data {
    background: #313a46;
    color: white;
}

.InActive_data {
    background: #b5b4b4;
    color: white;
}

.cp {
    cursor: pointer;

}

.topbarinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lefbar_info {
    display: flex;
    align-items: center;
}

button.button-menu-mobile.open-left {
    order: 1;
}

ul.list-unstyled.topbar-menu.float-end.mb-0.topbarr {
    order: 3;
}

.menuinfo {
    order: 2;
}

.menuinfo ul li {
    list-style: none;
}

.menuinfo ul {
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.menuinfo ul li {
    padding-right: 15px;
}

.menuinfo li:last-child {
    padding-right: 0px;
}

.menuinfo ul li a {
    color: #323b47 !important;
    font-size: 14px;
    font-weight: 600;
}

.project_detail {
    padding: 20px 0px 10px 10px;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 14px;
}

.taskinfo ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    padding-top: 6px;
}

.taskinfo ul li {
    padding-right: 14px;
}

.taskinfo ul li a {
    color: #323b47 !important;
    font-size: 14px;
    font-weight: 600;
}

.taskinfo {
    margin-bottom: 10px;
}

.add_task {
    text-align: right;
}

.rightBar {
    padding: 8px 0px 0px 0px 0px;
    position: fixed;
    overflow-y: hidden;
    display: none;
    top: 0;
    bottom: 0;
    right: -216px;
    height: vh;
    width: 500px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.rightBar.show {
    right: 0px;
    display: block;
    z-index: 1002;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.rightBar.show {
    z-index: 1002;
}

.modal-header button {
    box-shadow: 0px 2px 6px 0px rgba(57, 175, 209, 0.5);
    color: #fff;
    background-color: #39afd1;
    border-color: #39afd1;
    border: 0px;
}

.modal-header {

    display: flex !important;

    border: 100% !important;


    /* border-radius: 100%; */
}

.modal-header button {
    position: absolute;
    right: 10px;
}

.modal-body {
    text-align: left;
}

.modal-body .model-content-detail {
    height: calc(100vh - 6.5rem) !important;
    overflow-y: auto !important;
    padding-bottom: 10px;
}

.priority_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority {
    display: flex;
    align-items: center;
}

.priority label {
    margin-right: 7px;
}

.menuinfo ul {
    align-items: center;
    display: flex;
}

.project_names select {
    border-left: 0px;
    /* border-bottom: 2px solid gray; */
    font-weight: 600;
    border-right: 0px;
    border-top: 0px;
    color: #323b47 !important;
    border-bottom: none;
    max-width: 123px;
}


option {
    border: none !important;
    /* padding-left:10px; */
}



.action_icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.action_icon button {
    background: transparent;
    border: 0px;
    padding: 0px;
}

.action_icon button:first-child {
    margin-right: 8px;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    margin-top: 4px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li>.dropdown-submenu {
    display: block;
}

.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    color: white;
    background-color: #39afd1;
}



/* summary  */
.all_bg {
    background-color: rgb(218, 235, 255);
}

.bg_clr {
    background-color: rgb(238, 236, 236);
}

.w-size {
    font-size: 20px;
}

.border_clr {
    border: 1px solid rgb(209, 208, 208);
}

.chart_div {
    display: flex;

    height: 36vh;
    margin: 0;

}

.donut-chart {
    display: flex;

    align-items: center;
    max-width: 600px;
}

.donut-chart2 {
    display: flex;
    padding-left: 19%;

    align-items: center;
    max-width: 600px;
}

.chart {
    position: relative;
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background-color: #59d3ec;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slice {
    position: absolute;
    width: 50%;
    height: 100%;
    clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
    transform-origin: 100%;
    background-color: var(--color);
    transform: rotate(var(--angle));
}

.h1-clr {
    color: #59d3ec;
}

.percentage-label {
    position: absolute;
    width: 100%;
    height: 100%;
    /* font-size: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.legend {
    list-style: none;
    padding: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.day_date {
    font-size: 12px;
}

.scrollable-content {
    height: 300px;
    /* Set the desired height for the scrollable area */
    overflow: auto;
}

.i_f {
    font-size: 38px;
    font-weight: 400;

}

.icon_s {
    font-size: 22px;
}


/* .project_opt{
        padding: 10px;
    } */
.drop_s {
    padding: 0.375rem 1.5rem;
}
.border_zero{
    border:0px!important
}

.chip{
    background:#39afd1 !important;
    border-radius:30px !important;
}
.highlightOption{
   background-color: white !important;
   color:black !important;
}

.option:hover{
    background:#39afd1 !important;
    color:white

}
.closeIcon {
    margin-left: 14px !important;
}
.searchWrapper{
    height: 37px !important ;
    overflow: overlay !important;
}
.checkbox {
    /* margin-right: 10px; */
    display: none !important;
}
.hover_bg:hover{
    background-color:#39afd1 !important;
}
.img_div img {
    width: 100px;
    height: 100px;
}
.all_logo_img {
    height: auto !important;
    width: 250px !important;
}

.cross_div {
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(6px, -4px);
    color: white;
    border-radius: 10px;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
}
