.table > :not(caption) > * > * {
    padding: 0.6rem 0.95rem !important;
}
.Active_data {
    background: #313a46;
    color: white;
}

.InActive_data {
    background: #b5b4b4;
    color: white;
}
.cp{
    cursor: pointer;

}
.topbarinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lefbar_info{
    display: flex;
    align-items: center;
}
button.button-menu-mobile.open-left {
    order: 1;
}

ul.list-unstyled.topbar-menu.float-end.mb-0.topbarr {
    order: 3;
}

.menuinfo {
    order: 2;
}

.menuinfo ul li {
    list-style: none;
}
.menuinfo ul {
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.menuinfo ul li {
    padding-right: 15px;
}

.menuinfo li:last-child {
    padding-right: 0px;
}

.menuinfo ul li a {
    color: #323b47 !important;
    font-size: 14px;
    font-weight: 600;
}
.project_detail {
    padding: 20px 0px 10px 10px;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 14px;
}

.taskinfo ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    padding-top: 6px;
}

.taskinfo ul li {
    padding-right: 14px;
}

.taskinfo ul li a {color: #323b47 !important;font-size: 14px;font-weight: 600;}

.taskinfo {
    margin-bottom: 10px;
}
.add_task {
    text-align: right;
}

.rightBar {
    padding: 8px 0px 0px 0px 0px;
    position: fixed;
    overflow-y: hidden;
    display: none;
    top: 0;
    bottom: 0;
    right: -216px;
    height: vh;
    width: 500px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .rightBar.show {
    right: 0px;
    display: block;
    z-index: 1002;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  .rightBar.show {
    z-index: 1002;
}

 .modal-header button {
    box-shadow: 0px 2px 6px 0px rgba(57, 175, 209, 0.5);
    color: #fff;
    background-color: #39afd1;
    border-color: #39afd1;
    border: 0px;
}

.modal-header {

    display: flex!important;
    
    border: 100%!important;

   
    /* border-radius: 100%; */
}
.modal-header button{
    position: absolute;
    right: 10px;
}
.modal-body {
    text-align: left;
}
.modal-body .model-content-detail {
    height: calc(100vh - 6.5rem) !important;
    overflow-y: auto !important;
    padding-bottom: 10px;
}

.priority_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority {
    display: flex;
    align-items: center;
}

.priority label {
    margin-right: 7px;
}
.menuinfo ul {
    align-items: center;
    display: flex;
}

.project_names select {
    border-left: 0px;
    /* border-bottom: 2px solid gray; */
    font-weight: 600;
    border-right: 0px;
    border-top: 0px;
    color: #323b47 !important;

    border-bottom:none;
}
.op1{
    padding-right: 0px !important;
}
.op2{
    padding-right: 30px !important;
}
.op3{
    padding-right: 30px !important;
}

option{
    border:none !important;
    /* padding-left:10px; */
}
.project_opt:hover{
    background-color:cadetblue;
    transform: scale(1.5) !important;

}

.form-select{
    /* padding-left: 0% !important; */
    padding-right: auto !important;
}
.action_icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.action_icon button {
    background: transparent;
    border: 0px;
    padding: 0px;
}

.action_icon button:first-child {
    margin-right: 8px;
}
